<head>
    <link rel="stylesheet" href="css/home.css" type="text/css">
</head>


<body>
    <div id="login">
        <h1>School Manager</h1>
        <h2>An Application to Sort Your Assignments</h2>
    </div>
</body>